backend/.env
.github
.venv
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
sample_data/
.claude/
.github/
logs/
backend/db/data extraction/data/*
node_modules/
dist/
scripts/
reports/
